@font-face {
  font-family: "estedad";
  src: url("../font/estedad.woff2");
}

:root {
  --theme-color: rgba(11, 13, 24, 0.85);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "estedad", sans-serif;
  -webkit-user-drag: none;
  user-select: none;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  background: url("../img/bg.jpg") center center no-repeat;
  background-size: cover;
  color: white;
  overflow: hidden;
}

a,
button {
  all: unset;
  cursor: pointer;
}

input[type="text"] {
  all: unset;
  cursor: text;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
  display: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: 800;
}

hr {
  height: 110px;
  border-radius: 100px;
}

header {
  width: 80px;
  height: 90%;
  position: fixed;
  top: 45px;
  right: 20px;
  padding: 20px;
  background: var(--theme-color);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  z-index: 100;
}

header img {
  width: 45px;
}

header .btn {
  width: 50px;
  height: 50px;
  background: rgba(11, 13, 24, 0.6);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

header .btn:hover {
  background: rgba(11, 13, 24, 1);
}

header .btn:active {
  transform: scale(0.9);
}

header .btn img {
  width: 30px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 45px;
  height: 90%;
}

.task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  width: 290px;
  padding: 10px;
  border-radius: 15px;
  background: var(--theme-color);
  backdrop-filter: blur(10px);
}

.taskHeader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 7px;
  border-bottom: 2px solid #414141;
  width: 100%;
}

#taskList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

#menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#blurButton {
  display: grid;
  background: #fff;
  border-radius: 10px;
  padding: 3px 10px;
  transition: 0.3s;
}

#blurButton:active {
  transform: scale(0.8);
}

.blur {
  filter: blur(5px);
}

.taskBody,
.taskFooter {
  width: 100%;
}

.taskItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #232531;
  border-radius: 10px;
  padding: 11px 7px;
  width: 100%;
}

.taskInfo {
  display: flex;
  gap: 5px;
}

.task-done {
  margin-right: 10px;
}

.taskItem.done .task-text {
  text-decoration: line-through;
}

.taskBtns {
  position: relative;
  display: inline-block;
}

.taskFooter {
  display: flex;
}

#taskInput {
  background-color: #232531;
  border: 1px solid #3c3e4e;
  border-radius: 10px;
  padding: 10px 7px;
  width: 250px;
  margin-right: 3px;
}

#addTaskButton {
  display: grid;
  place-items: center;
  margin-right: -55px;
  margin-top: 4px;
  height: 35px;
  width: 50px;
  z-index: 1;
  border-radius: 10px;
  background: #3f5294;
  transition: 0.3s;
}

#addTaskButton:active {
  transform: scale(0.9);
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
}

.popup-menu {
  display: none;
  position: absolute;
  top: 30px;
  right: -50px;
  background: #3f5294;
  border: 1px solid #7a80b2;
  border-radius: 10px;
  z-index: 1;
  animation: fadeIn 0.3s;
}

.popup-menu button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
}

.popup-menu button p {
  margin-right: -39px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 670px;
  padding: 20px;
  border-radius: 15px;
  background: var(--theme-color);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.searchSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1000;
}

#searchInput {
  width: 485px;
  height: 25px;
  background: #181b2a;
  padding: 15px 55px;
  border-radius: 200px;
  font-size: 16px;
  z-index: 1000;
}

#searchInput::placeholder {
  color: rgb(221, 221, 221);
}

#searchButton {
  display: grid;
  place-items: center;
  width: 40px;
  height: 20px;
  padding: 10px;
  background: #3f5294;
  border-radius: 200px;
  margin-right: -70px;
  transition: 0.3s;
  z-index: 1001;
}

#searchButton svg {
  margin-top: -3px;
}

#searchButton:active {
  transform: scale(0.9);
}

.search-item {
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
  border-bottom: 1px solid #3c3e4e;
}

.search-item:last-child {
  border-bottom: none;
}

.search-item:hover {
  background-color: #262b42;
}

.google-icon {
  margin-left: -43px;
  z-index: 1001;
}

.info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 290px;
  padding: 20px 10px;
  border-radius: 15px;
  background: var(--theme-color);
  backdrop-filter: blur(10px);
}

#dateTimeInfo,
#weatherSection {
  width: 145px;
}

#dateTimeInfo h2,
#weatherSection h2 {
  font-size: 30px;
}

#dateTimeInfo h3,
#weatherSection h3 {
  font-size: 15px;
  font-weight: 500;
}

#dateTimeInfo p,
#weatherSection p {
  margin-top: 10px;
  font-size: 12px;
  color: #c9c9c9;
}

#dateTimeInfo h2 {
  color: rgb(102 159 243);
}

#weatherInfo h2 {
  color: rgb(189 182 235);
}

.calendar-section {
  border-radius: 15px;
  padding: 20px 10px 0 10px;
  width: 290px;
  margin-top: 20px;
  text-align: center;
  background: var(--theme-color);
  backdrop-filter: blur(10px);
}

#calendarTitle {
  font-size: 15px;
}

#calendarControls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

#calendarTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 7px;
}

#calendarTable th,
#calendarTable td {
  background: #141622;
  text-align: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

#calendarTable th {
  background: #2c3253;
  line-height: 1;
}

.today {
  background-color: #246cf4 !important;
}

.empty-cell {
  background: none !important;
}

.bookmarks-section {
  margin-top: 20px;
  text-align: center;
}

#bookmarks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 14px;
  width: 670px;
}

#addBookmark {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--theme-color);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  cursor: pointer;
}

.bookmark-tile {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--theme-color);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  cursor: pointer;
}

.bookmark-tile span {
  font-size: 25px;
}

.bookmark-tile p {
  font-size: 13px;
}

.delete-bookmark {
  position: absolute;
  top: 5px;
  right: 9px;
  opacity: 0;
  background: transparent;
  border: none;
  color: #ff2f2f;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.bookmark-tile:hover .delete-bookmark {
  opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}

.modal-content {
  background-color: #3f5294;
  margin: 15% auto;
  padding: 30px;
  border: 1px solid #246cf4;
  border-radius: 15px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.modalInfo {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.modalInfo h3 {
  margin-right: 76px;
}

.modal-content input {
  background-color: #232531;
  border: 1px solid #3c3e4e;
  border-radius: 10px;
  padding: 7px;
  width: 70%;
}

.modal-content button {
  background-color: #232531;
  border: 1px solid #3c3e4e;
  border-radius: 10px;
  padding: 7px;
  width: 40%;
  margin-top: 10px;
  transition: 0.3s;
}

.modal-content button:active {
  transform: scale(0.9);
}

.close {
  color: #aaa;
  background: #2c3253;
  border-radius: 10px;
  float: right;
  width: 35px;
  height: 35px;
  font-size: 28px;
  font-weight: bold;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close:active {
  transform: scale(0.9);
}

#tileContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  width: 290px;
  padding: 15px;
  border-radius: 15px;
  background: var(--theme-color);
  backdrop-filter: blur(10px);
  margin-top: 20px;
  height: 20vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#tileContainer::-webkit-scrollbar {
  background: transparent;
  width: 7px;
  margin-top: 20px;
}

#tileContainer::-webkit-scrollbar-thumb {
  background: rgb(29, 34, 65);
  border-radius: 30px;
}

#tileContainer::-webkit-scrollbar-button {
  visibility: hidden;
  height: 5px;
}

.tile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.tile img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 2px;
}

.tile-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.tile-text p {
  color: rgb(189 182 235);
  font-weight: 600;
  font-size: 13px;
  margin-top: 3px;
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name,
.change {
  font-weight: 600;
}

.change {
  direction: ltr;
}

.green {
  color: green;
}

.red {
  color: red;
}

#toastContainer {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.toast {
  background: rgba(97, 6, 6, 0.5);
  backdrop-filter: blur(10px);
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.toast.show {
  opacity: 1;
  transform: translateX(0);
}

.toast.hide {
  opacity: 0;
  transform: translateX(100%);
}

.speedtest {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  height: 264px;
  width: 290px;
  padding: 15px;
  border-radius: 15px;
  background: var(--theme-color);
  backdrop-filter: blur(10px);
  margin-top: 20px;
}

.speedtest h2 {
  font-size: 24px;
}

.speedtest .result {
  font-size: 15px;
}

.speedtest .result span {
  font-weight: 700;
  color: rgb(189 182 235);
}

#status {
  margin-bottom: 20px;
  font-size: 19px;
}

#ping,
#isp,
#ip {
  margin-top: -10px;
}

.search-dropdown,
.dropdown-overlay {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease, visibility 0.1s ease;
}

.search-dropdown.show,
.dropdown-overlay.show {
  opacity: 1;
  visibility: visible;
}

.search-dropdown {
  position: absolute;
  top: 120%;
  right: 0;
  width: 100%;
  max-height: 450px;
  padding: 0 20px;
  border-radius: 15px;
  background: var(--theme-color);
  color: #fff;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.4s ease;
  z-index: 999;
  overflow-y: auto;
}

.search-dropdown.show {
  padding: 20px;
  opacity: 1;
}

.search-dropdown h2 {
  font-weight: 800;
  font-size: 24px;
}

.search-dropdown::-webkit-scrollbar {
  background: transparent;
  width: 7px;
  margin-top: 20px;
}

.search-dropdown::-webkit-scrollbar-thumb {
  background: rgb(29, 34, 65);
  border-radius: 30px;
}

.search-dropdown::-webkit-scrollbar-button {
  visibility: hidden;
}

.search-dropdown .dropdown-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.search-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-dropdown li {
  padding: 9px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.2s;
  font-size: 14px;
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.search-dropdown li:hover {
  background: rgb(29, 34, 65);
}

.dropdown-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  z-index: 998;
}

.slider-container {
  overflow-x: auto;
  display: flex;
  gap: 10px;
  cursor: grab;
  width: 670px;
  height: 239px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  background: var(--theme-color);
  backdrop-filter: blur(10px);
  margin-top: 20px;
  border-radius: 15px;
  padding: 10px;
}

.slider-container:active {
  cursor: grabbing;
}

.slider-container::-webkit-scrollbar {
  display: none;
}

.slide {
  flex-shrink: 0;
  border-radius: 15px;
  padding: 15px;
  width: 200px;
  scroll-snap-align: start;
  scroll-margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(11, 13, 24, 0.4);
  gap: 5px;
}

.thumbnail {
  width: 100%;
  border-radius: 10px;
}

.streamer-name {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.slide a {
  background: rgb(29, 34, 65);
  padding: 3px 15px;
  border-radius: 10px;
}

.slide a:active {
  cursor: pointer;
}

.settings-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.settings-overlay.active {
  display: flex;
  animation-name: fadeIn;
}

.settings-overlay.closing {
  animation-name: fadeOut;
}

@keyframes modalIn {
  from {
    transform: scale(0.8) translateY(50px);
    opacity: 0;
  }

  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@keyframes modalOut {
  from {
    transform: scale(1) translateY(0);
    opacity: 1;
  }

  to {
    transform: scale(0.8) translateY(50px);
    opacity: 0;
  }
}

.settings-modal {
  background: var(--theme-color);
  border-radius: 12px;
  width: 90%;
  max-width: 700px;
  height: 400px;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  animation: modalIn 0.3s ease forwards;
  border: 1px solid rgb(34, 40, 75);
}

.settings-modal.closing {
  animation: modalOut 0.3s ease forwards;
}

.modal-content2 {
  flex: 1;
  padding: 20px;
}

.modal-sidebar {
  width: 180px;
  background: rgba(11, 13, 24, 1);
  border-left: 1px solid rgb(34, 40, 75);
  display: flex;
  flex-direction: column;
}

.tab-btn {
  padding: 12px;
  border: none;
  background: transparent;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid rgb(34, 40, 75);
  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  gap: 10px;
}

.tab-btn:hover {
  background: rgba(34, 40, 75, 0.5);
}

.tab-btn.active {
  background: rgb(34, 40, 75);
  color: white;
}

.tab-btn img {
  width: 15px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.close-settings-btn {
  background: #ef4444;
  color: white;
  border: none;
  width: 25px;
  height: 25px;
  padding: 2px;
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 10px;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 20px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.close-settings-btn:hover {
  background: #b91c1c;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin-left: 10px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 26px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2563eb;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.settings-modal h2 {
  font-size: 24px;
  margin-top: -6px;
  margin-bottom: 30px;
}

#general label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(29, 34, 65);
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 15px;
}

.color-picker {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.color-option {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: transform 0.2s, border 0.2s;
}

.color-option:hover {
  transform: scale(1.1);
}

.color-option.active {
  border: 3px solid black;
}

#userInfoContainer {
  position: relative;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

#userInfo img {
  border-radius: 10px;
  cursor: pointer;
  width: 50px;
}

.popup {
  position: absolute;
  top: 0px;
  right: 0px;
  background: rgba(11, 13, 24, 0.95);
  border: 1px solid rgb(34, 40, 75);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  z-index: 9999;
  width: 250px;
  height: 50px;
  opacity: 0;
  transform: scale(0.8);
  transform-origin: bottom right;
  pointer-events: none;
  transition: opacity 0.25s ease, transform 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
}

.popup.show {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}
